 .u-section-1 {
  --color-var: #ccd3db;
}

.u-section-1 .u-sheet-1 {
  min-height: 408px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 250px;
  margin: 79px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-custom-html-1 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
} .u-section-2 {
  --color-var: #ccd3db;
}

.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

.u-section-2 .u-video-1 {
  width: 700px;
  height: 600px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
    height: 463px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 292px;
  }
} .u-section-3 {
  --color-var: #ccd3db;
}

.u-section-3 .u-sheet-1 {
  min-height: 474px;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 69px;
  margin: 166px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}